body {
    background-color: white;
}

h1 {
    text-align: center;
    font-family: Canberra, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

img {
    width: 100%;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
    padding: 5px;
}
